<div class="card" ng-repeat="post in posts">
	<div class="card-content">
		<p class="card-title grey-text text-darken-4">
			{{post.title}}
		</p>
		<p class="card-description preview-text">
			{{post.detail}}
		</p>
	</div>
	<div class="card-action">
		<a href="#viewPost" ng-click="setPost(post)" modal>Ver Mas..</a>
	</div>
</div>
<div id="viewPost" class="modal">   
    
	<div class="modal-content">
		<h4>{{viewPost.title}}</h4>
		<p style="font-style: italic;color: #ccc;font-size: 13px;">Creado por {{viewPost.firstname}} {{viewPost.lastname}} - {{viewPost.created * 1000 | date:'dd/MM/yyyy HH:mm'}}</p>
		<p>			
			{{viewPost.detail}}
		</p>
		<a ng-show="isLogged" href="{{viewPost.filepath}}" target="_blank" class="waves-effect wave-blue btn white-text cyan left" download="{{viewPost.filesystemname}}">Descargar</a>
		<span ng-show="!isLogged" >Debes estar loggeado para poder descargar.</span>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect  btn-flat">Cerrar</a>
	</div>
</div>